*.0
.DS_Store
node_modules
/dist
/mtk/url.js
/CMakeFiles
.ipynb_checkpoints 
/.ipynb_checkpoints
/build
build

# local env files
.env.local
.env.*.local
 
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
#日志文件
*runs
*train
*.ipynb_checkpoints

# 模型文件
*.pt
*.pth
*.h5
*.pkl
*.onnx
*.ckpt
*.cxhpc
*.npy
*.npz
*.data
*.bin
*.pyc
*.so
*.pyd
*.lib
*.dll
*.engine

# 压缩文件
*.zip
*.tar
*.gz
*.7z

# Editor directories and files
.ideai
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.cxhpc*
*zktiruns
*.mp4
*.avi
*.jpeg
*.jpg
*.avi
*.png

tianmoucv.egg-info
*.egg
build
dist
__pycache__
.ipynb_checkpoints
