# Base ----------------------------------------
charset-normalizer>=3.1.0
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
scipy>=1.4.1
tqdm
requests

# Logging -------------------------------------
tensorboard

# Plotting ------------------------------------
pandas
seaborn
pybind11
requests
torch>=1.10,<2.7
torchvision

# Extras --------------------------------------
ipython  # interactive notebook
thop # FLOPs computation
einops
