# Base ----------------------------------------
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
scipy>=1.4.1
tqdm>=4.64.0

# Logging -------------------------------------
tensorboard>=2.4.1

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0
pybind11

# Extras --------------------------------------
ipython  # interactive notebook
thop>=0.1.1  # FLOPs computation
